
:let mapleader = "\\"

:set relativenumber
:set number
:set scrolloff=5

:set incsearch

:map Q gq

:set quickscope
:set nerdtree

:imap <C-Space> <Esc>

:set clipboard=unnamedplus
:set ideajoinset clipboard^=ideaputset ideajoin

nmap <leader>fd <action>(GotoClass)
nmap <leader>ff <action>(GotoFile)
nmap <leader>fa <action>(GotoActions)
nmap <leader>rt <action>(RiderUnitTestRunContextAction)
nmap <leader>rd <action>(RiderUnitTestDebugContextAction)
nmap <leader>rr <action>(RenameElement)
nmap <leader>bb <action>(BuildSolutionAction)
nmap <leader>? <action>(ShowHoverInfo)
